		{% compress 'js' %}
		{# page-wrapper end #}

		{# JavaScript files placed at the end of the document so the pages load faster #}
		{# ================================================== #}
		{# Jquery and Bootstap core js files #}
		<script type="text/javascript" src="/static/plugins/jquery.min.js"></script>
		{# Isotope javascript #}
		<script type="text/javascript" src="/static/plugins/isotope/isotope.pkgd.min.js"></script>
		
		<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>

		{# Modernizr javascript #}
		<script type="text/javascript" src="/static/plugins/modernizr.js"></script>

		{# jQuery Revolution Slider  #}
		<script type="text/javascript" src="/static/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script type="text/javascript" src="/static/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		
		
		{# Magnific Popup javascript #}
		<script type="text/javascript" src="/static/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
		
		{# Appear javascript #}
		<script type="text/javascript" src="/static/plugins/waypoints/jquery.waypoints.min.js"></script>

		{# Count To javascript #}
		<script type="text/javascript" src="/static/plugins/jquery.countTo.js"></script>
		
		{# Parallax javascript #}
		<script src="/static/plugins/jquery.parallax-1.1.3.js"></script>

		{# Contact form #}
		<script src="/static/plugins/jquery.validate.js"></script>

		{# Morphext #}
		<script type="text/javascript" src="/static/plugins/morphext/morphext.min.js"></script>

		{# Background Video #}
		<script src="/static/plugins/vide/jquery.vide.js"></script>

		{# Owl carousel javascript #}
		<script type="text/javascript" src="/static/plugins/owl-carousel/owl.carousel.js"></script>
		
		{# SmoothScroll javascript #}
		<script type="text/javascript" src="/static/plugins/jquery.browser.js"></script>
		<script type="text/javascript" src="/static/plugins/SmoothScroll.js"></script>


		{# Initialization of Plugins #}
		<script type="text/javascript" src="/static/js/template.js"></script>

		{# Custom Scripts #}
		<script type="text/javascript" src="/static/js/uad.js"></script>
		<script type="text/javascript" src="/static/js/custom.js"></script>
		<script>
			function suscribe()
			{	
				var body = "subscribe"
			    var subject = "subscribe"
			    var mail="mailto:unaaldia-request@hispasec.com?subject=subscribe&body=subscribe"+subject+"&body="+body;

			    $("#subscribe").attr('href', mail);
			}
		</script>
		{% endcompress %}